*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* transition-duration: 0.2s; */
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgba(234, 233, 233, 0.72); 
}